@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  line-height: 1.7;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}

.wrapper {
  max-width: 980px;
  margin: 0 auto;
}

h2 {
  font-size: 72px;
  font-weight: bold;
  color: #FFFFFF;
}

h3 {
  font-size: 40px;
  font-weight: bold;
  color: #000000;
  position: relative;
  border-bottom: solid 6px #e03131;
  display: inline-block;
}

// header

.header {
  width: 100%;
  min-height: 100vh;
  background-image: url(../img/mainvisual.jpeg);
  background-size: cover;
  background-position: center top;
  position: relative;
  .header_nav {
    display: flex;
    justify-content: flex-end;
    li a{
      color: #FFFFFF;
      fz

    }
  }
}

.header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


}